.card {
  border-radius: 10px;
  position: relative;
  padding: 15px 11px;
  min-width: 170px;
  width: calc(25% - 20px);
  height: 157px;
  .title {
    font-size: 17px;
    font-family:
      PingFangSC,
      PingFang SC;
    font-weight: 600;
    color: #414141;
  }
  .money {
    margin: 15px 0;
    font-size: 24px;
    font-family:
      PingFangSC,
      PingFang SC;
    font-weight: 600;
    color: #414141;
    letter-spacing: 4px;
    position: relative;
    z-index: 2;
  }
  .sub {
    font-size: 12px;
    font-family:
      PingFangSC,
      PingFang SC;
    color: #414141;
    position: relative;
    z-index: 2;
  }
  .icon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 45px;
  }
}
