.cika {
  flex: unset;
  width: 220px;
}

.z1,
.z2,
.cika {
  input,
  .ant-form-item {
    padding: 0 !important;
  }
}

.cika {
  width: 180px;
  .ant-col.ant-form-item-control {
    width: 50px !important;
    flex: unset;
  }
}

.z1 {
  width: 31px !important;
  flex: unset;
}
