.card {
  background: #fff;
  box-shadow: 0px 2 3px 0px #d6c9ff;
  border-radius: 8px;
  margin-bottom: 16px;
}

.header {
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  height: 40px;
}
